In [24]:
import pandas as pd
import numpy as np

# CSV

In [25]:
pwd

'C:\\Users\\B.Koljabai\\DataspellProjects\\w'

In [26]:
pd.read_csv("example.csv", sep=",")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [27]:
df=pd.read_csv("example1.csv", sep=".")
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       4 non-null      int64
 3   d       4 non-null      int64
dtypes: int64(4)
memory usage: 256.0 bytes

In [29]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [31]:
df2=df*2
df2

    a   b   c   d
0   0   2   4   6
1   8  10  12  14
2  16  18  20  22
3  24  26  28  30

# CSV OUTPUT

In [41]:
df2.to_csv("example2.csv", index=True)

# Excel

# Excel input

In [42]:
pd.read_excel("Excel_Sample.xlsx", sheet_name="Sheet1")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

# Excel Output

In [44]:
df2.to_excel("Excel_Sample.xlsx", sheet_name="Sheet1")

# HTML
* conda install lxml
* conda install html5lib
* conda install BeautifulSoup4

# HTML input

In [45]:
df=pd.read_html("https://www.nationalbank.kz/ru/exchangerates/ezhednevnye-oficialnye-rynochnye-kursy-valyut")

In [46]:
df

[     0                                           1          2        3   4
 0  NaN                      1 АВСТРАЛИЙСКИЙ ДОЛЛАР  AUD / KZT   313.83 NaN
 1  NaN                     1 АЗЕРБАЙДЖАНСКИЙ МАНАТ  AZN / KZT   276.80 NaN
 2  NaN                           10 АРМЯНСКИЙ ДРАМ  AMD / KZT    12.00 NaN
 3  NaN                         1 БЕЛОРУССКИЙ РУБЛЬ  BYN / KZT   186.32 NaN
 4  NaN                          1 БРАЗИЛЬСКИЙ РЕАЛ  BRL / KZT    88.64 NaN
 5  NaN                      10 ВЕНГЕРСКИХ ФОРИНТОВ  HUF / KZT    12.39 NaN
 6  NaN                        1 ГОНКОНГСКИЙ ДОЛЛАР  HKD / KZT    60.27 NaN
 7  NaN                           1 ГРУЗИНСКИЙ ЛАРИ  GEL / KZT   178.40 NaN
 8  NaN                             1 ДАТСКАЯ КРОНА  DKK / KZT    67.09 NaN
 9  NaN                                1 ДИРХАМ ОАЭ  AED / KZT   127.77 NaN
 10 NaN                                1 ДОЛЛАР США  USD / KZT   469.18 NaN
 11 NaN                                      1 ЕВРО  EUR / KZT   499.07 NaN
 12 NaN                           1 ИНДИЙСКАЯ РУПИЯ  INR / KZT     5.67 NaN
 13 NaN                          1000 ИРАНСКИЙ РИАЛ  IRR / KZT    11.20 NaN
 14 NaN                          1 КАНАДСКИЙ ДОЛЛАР  CAD / KZT   344.63 NaN
 15 NaN                            1 КИТАЙСКИЙ ЮАНЬ  CNY / KZT    67.39 NaN
 16 NaN                          1 КУВЕЙТСКИЙ ДИНАР  KWD / KZT  1532.92 NaN
 17 NaN                            1 КЫРГЫЗСКИЙ СОМ  KGS / KZT     5.52 NaN
 18 NaN                       1 МАЛАЗИЙСКИЙ РИНГГИТ  MYR / KZT   105.91 NaN
 19 NaN                         1 МЕКСИКАНСКИЙ ПЕСО  MXN / KZT    23.74 NaN
 20 NaN                            1 МОЛДАВСКИЙ ЛЕЙ  MDL / KZT    24.37 NaN
 21 NaN                          1 НОРВЕЖСКАЯ КРОНА  NOK / KZT    47.59 NaN
 22 NaN                           1 ПОЛЬСКИЙ ЗЛОТЫЙ  PLN / KZT   106.70 NaN
 23 NaN                    1 РИЯЛ САУДОВСКОЙ АРАВИИ  SAR / KZT   124.78 NaN
 24 NaN                          1 РОССИЙСКИЙ РУБЛЬ  RUB / KZT     6.80 NaN
 25 NaN                                       1 СДР  XDR / KZT   623.72 NaN
 26 NaN                       1 СИНГАПУРСКИЙ ДОЛЛАР  SGD / KZT   347.57 NaN
 27 NaN                         1 ТАДЖИКСКИЙ СОМОНИ  TJS / KZT    46.18 NaN
 28 NaN                               1 ТАЙСКИЙ БАТ  THB / KZT    13.50 NaN
 29 NaN                             1 ТУРЕЦКАЯ ЛИРА  TRY / KZT    25.15 NaN
 30 NaN                         100 УЗБЕКСКИХ СУМОВ  UZS / KZT     4.17 NaN
 31 NaN                         1 УКРАИНСКАЯ ГРИВНА  UAH / KZT    12.83 NaN
 32 NaN  1 ФУНТ СТЕРЛИНГОВ СОЕДИНЕННОГО КОРОЛЕВСТВА  GBP / KZT   569.96 NaN
 33 NaN                             1 ЧЕШСКАЯ КРОНА  CZK / KZT    20.62 NaN
 34 NaN                            1 ШВЕДСКАЯ КРОНА  SEK / KZT    45.20 NaN
 35 NaN                         1 ШВЕЙЦАРСКИЙ ФРАНК  CHF / KZT   506.84 NaN
 36 NaN                     1 ЮЖНО-АФРИКАНСКИЙ РАНД  ZAR / KZT    27.15 NaN
 37 NaN                      100 ЮЖНО-КОРЕЙСКИХ ВОН  KRW / KZT    36.55 NaN
 38 NaN                             1 ЯПОНСКАЯ ЙЕНА  JPY / KZT     3.55 NaN]

In [47]:
len(df)

1

In [48]:
df[0]

     0                                           1          2        3   4
0  NaN                      1 АВСТРАЛИЙСКИЙ ДОЛЛАР  AUD / KZT   313.83 NaN
1  NaN                     1 АЗЕРБАЙДЖАНСКИЙ МАНАТ  AZN / KZT   276.80 NaN
2  NaN                           10 АРМЯНСКИЙ ДРАМ  AMD / KZT    12.00 NaN
3  NaN                         1 БЕЛОРУССКИЙ РУБЛЬ  BYN / KZT   186.32 NaN
4  NaN                          1 БРАЗИЛЬСКИЙ РЕАЛ  BRL / KZT    88.64 NaN
5  NaN                      10 ВЕНГЕРСКИХ ФОРИНТОВ  HUF / KZT    12.39 NaN
6  NaN                        1 ГОНКОНГСКИЙ ДОЛЛАР  HKD / KZT    60.27 NaN
7  NaN                           1 ГРУЗИНСКИЙ ЛАРИ  GEL / KZT   178.40 NaN
8  NaN                             1 ДАТСКАЯ КРОНА  DKK / KZT    67.09 NaN
9  NaN                                1 ДИРХАМ ОАЭ  AED / KZT   127.77 NaN
10 NaN                                1 ДОЛЛАР США  USD / KZT   469.18 NaN
11 NaN                                      1 ЕВРО  EUR / KZT   499.07 NaN
12 NaN                           1 ИНДИЙСКАЯ РУПИЯ  INR / KZT     5.67 NaN
13 NaN                          1000 ИРАНСКИЙ РИАЛ  IRR / KZT    11.20 NaN
14 NaN                          1 КАНАДСКИЙ ДОЛЛАР  CAD / KZT   344.63 NaN
15 NaN                            1 КИТАЙСКИЙ ЮАНЬ  CNY / KZT    67.39 NaN
16 NaN                          1 КУВЕЙТСКИЙ ДИНАР  KWD / KZT  1532.92 NaN
17 NaN                            1 КЫРГЫЗСКИЙ СОМ  KGS / KZT     5.52 NaN
18 NaN                       1 МАЛАЗИЙСКИЙ РИНГГИТ  MYR / KZT   105.91 NaN
19 NaN                         1 МЕКСИКАНСКИЙ ПЕСО  MXN / KZT    23.74 NaN
20 NaN                            1 МОЛДАВСКИЙ ЛЕЙ  MDL / KZT    24.37 NaN
21 NaN                          1 НОРВЕЖСКАЯ КРОНА  NOK / KZT    47.59 NaN
22 NaN                           1 ПОЛЬСКИЙ ЗЛОТЫЙ  PLN / KZT   106.70 NaN
23 NaN                    1 РИЯЛ САУДОВСКОЙ АРАВИИ  SAR / KZT   124.78 NaN
24 NaN                          1 РОССИЙСКИЙ РУБЛЬ  RUB / KZT     6.80 NaN
25 NaN                                       1 СДР  XDR / KZT   623.72 NaN
26 NaN                       1 СИНГАПУРСКИЙ ДОЛЛАР  SGD / KZT   347.57 NaN
27 NaN                         1 ТАДЖИКСКИЙ СОМОНИ  TJS / KZT    46.18 NaN
28 NaN                               1 ТАЙСКИЙ БАТ  THB / KZT    13.50 NaN
29 NaN                             1 ТУРЕЦКАЯ ЛИРА  TRY / KZT    25.15 NaN
30 NaN                         100 УЗБЕКСКИХ СУМОВ  UZS / KZT     4.17 NaN
31 NaN                         1 УКРАИНСКАЯ ГРИВНА  UAH / KZT    12.83 NaN
32 NaN  1 ФУНТ СТЕРЛИНГОВ СОЕДИНЕННОГО КОРОЛЕВСТВА  GBP / KZT   569.96 NaN
33 NaN                             1 ЧЕШСКАЯ КРОНА  CZK / KZT    20.62 NaN
34 NaN                            1 ШВЕДСКАЯ КРОНА  SEK / KZT    45.20 NaN
35 NaN                         1 ШВЕЙЦАРСКИЙ ФРАНК  CHF / KZT   506.84 NaN
36 NaN                     1 ЮЖНО-АФРИКАНСКИЙ РАНД  ZAR / KZT    27.15 NaN
37 NaN                      100 ЮЖНО-КОРЕЙСКИХ ВОН  KRW / KZT    36.55 NaN
38 NaN                             1 ЯПОНСКАЯ ЙЕНА  JPY / KZT     3.55 NaN

In [49]:
df[0][[1,2,3]]

                                             1          2        3
0                       1 АВСТРАЛИЙСКИЙ ДОЛЛАР  AUD / KZT   313.83
1                      1 АЗЕРБАЙДЖАНСКИЙ МАНАТ  AZN / KZT   276.80
2                            10 АРМЯНСКИЙ ДРАМ  AMD / KZT    12.00
3                          1 БЕЛОРУССКИЙ РУБЛЬ  BYN / KZT   186.32
4                           1 БРАЗИЛЬСКИЙ РЕАЛ  BRL / KZT    88.64
5                       10 ВЕНГЕРСКИХ ФОРИНТОВ  HUF / KZT    12.39
6                         1 ГОНКОНГСКИЙ ДОЛЛАР  HKD / KZT    60.27
7                            1 ГРУЗИНСКИЙ ЛАРИ  GEL / KZT   178.40
8                              1 ДАТСКАЯ КРОНА  DKK / KZT    67.09
9                                 1 ДИРХАМ ОАЭ  AED / KZT   127.77
10                                1 ДОЛЛАР США  USD / KZT   469.18
11                                      1 ЕВРО  EUR / KZT   499.07
12                           1 ИНДИЙСКАЯ РУПИЯ  INR / KZT     5.67
13                          1000 ИРАНСКИЙ РИАЛ  IRR / KZT    11.20
14                          1 КАНАДСКИЙ ДОЛЛАР  CAD / KZT   344.63
15                            1 КИТАЙСКИЙ ЮАНЬ  CNY / KZT    67.39
16                          1 КУВЕЙТСКИЙ ДИНАР  KWD / KZT  1532.92
17                            1 КЫРГЫЗСКИЙ СОМ  KGS / KZT     5.52
18                       1 МАЛАЗИЙСКИЙ РИНГГИТ  MYR / KZT   105.91
19                         1 МЕКСИКАНСКИЙ ПЕСО  MXN / KZT    23.74
20                            1 МОЛДАВСКИЙ ЛЕЙ  MDL / KZT    24.37
21                          1 НОРВЕЖСКАЯ КРОНА  NOK / KZT    47.59
22                           1 ПОЛЬСКИЙ ЗЛОТЫЙ  PLN / KZT   106.70
23                    1 РИЯЛ САУДОВСКОЙ АРАВИИ  SAR / KZT   124.78
24                          1 РОССИЙСКИЙ РУБЛЬ  RUB / KZT     6.80
25                                       1 СДР  XDR / KZT   623.72
26                       1 СИНГАПУРСКИЙ ДОЛЛАР  SGD / KZT   347.57
27                         1 ТАДЖИКСКИЙ СОМОНИ  TJS / KZT    46.18
28                               1 ТАЙСКИЙ БАТ  THB / KZT    13.50
29                             1 ТУРЕЦКАЯ ЛИРА  TRY / KZT    25.15
30                         100 УЗБЕКСКИХ СУМОВ  UZS / KZT     4.17
31                         1 УКРАИНСКАЯ ГРИВНА  UAH / KZT    12.83
32  1 ФУНТ СТЕРЛИНГОВ СОЕДИНЕННОГО КОРОЛЕВСТВА  GBP / KZT   569.96
33                             1 ЧЕШСКАЯ КРОНА  CZK / KZT    20.62
34                            1 ШВЕДСКАЯ КРОНА  SEK / KZT    45.20
35                         1 ШВЕЙЦАРСКИЙ ФРАНК  CHF / KZT   506.84
36                     1 ЮЖНО-АФРИКАНСКИЙ РАНД  ZAR / KZT    27.15
37                      100 ЮЖНО-КОРЕЙСКИХ ВОН  KRW / KZT    36.55
38                             1 ЯПОНСКАЯ ЙЕНА  JPY / KZT     3.55

In [51]:
df1=pd.read_html("https://en.wikipedia.org/wiki/Kazakhstan")

In [52]:
len(df1)

35

In [54]:
df1[3]

    Location July (°C) July (°F) January (°C) January (°F)
0     Almaty     30/18     86/64         0/−8        33/17
1   Shymkent     32/17     91/66         4/−4        39/23
2  Karaganda     27/14     80/57       −8/−17         16/1
3     Astana     27/15     80/59      −10/−18        14/−1
4   Pavlodar     28/15     82/59      −11/−20        12/−5
5     Aktobe     30/15     86/61       −8/−16         17/2

In [56]:
df1[0]

,"Republic of Kazakhstan.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}Қазақстан Республикасы (Kazakh)Qazaqstan RespublikasyРеспублика Казахстан (Russian)Respublika Kazakhstan","Republic of Kazakhstan.mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}Қазақстан Республикасы (Kazakh)Qazaqstan RespublikasyРеспублика Казахстан (Russian)Respublika Kazakhstan.1"
0,Flag Emblem,Flag Emblem
1,Anthem: Менің Қазақстаным (Kazakh)Menıñ Qazaqs...,Anthem: Менің Қазақстаным (Kazakh)Menıñ Qazaqs...
2,NaN,NaN
3,Capital,"Astana.mw-parser-output .geo-default,.mw-parse..."
4,Largest city,Almaty43°16′39″N 76°53′45″E﻿ / ﻿43.27750°N 76....
5,Official languages,KazakhRussian
6,Recognised minority languages[1],GermanTajikTatarTurkishUkrainianUyghurUzbek
7,Ethnic groups (2021)[2],70.4% Kazakh15.5% Russian3.2% Uzbek2.0% Ukrain...
8,Religion (2021)[2],69.3% Islam17.2% Christianity0.2% Others13.3% ...
9,Demonym(s),Kazakhstani[a]
10,Government,Unitary dominant-party presidential republic
11,NaN,NaN
12,• President,Kassym-Jomart Tokayev
13,• Prime Minister,Älihan Smaiylov
14,Legislature,Parliament
15,• Upper house,Senate
16,• Lower house,Majilis
17,Formation,Formation
18,NaN,NaN
19,• Kazakh Khanate,1465
20,• Alash Autonomy,13 December 1917
21,• Kirghiz ASSR,26 August 1920
22,• Kazakh ASSR,19 June 1925
23,• Kazakh SSR,5 December 1936
24,• Declaration of sovereignty,25 October 1990
25,• Reconstituted as the Republic of Kazakhstan,10 December 1991
26,• Independence from USSR,16 December 1991
27,• Recognised,26 December 1991
28,• Current constitution,30 August 1995
29,Area,Area
30,• Total,"2,724,900 km2 (1,052,100 sq mi) (9th)"
31,• Water (%),1.7
32,Population,Population
33,• 2022 estimate,"19,398,331[4] (64th)"
34,• Density,7/km2 (18.1/sq mi) (236th)
35,GDP .mw-parser-output .nobold{font-weight:norm...,2020 estimate
36,• Total,$569.813 billion[5] (41st)
37,• Per capita,"$30,178[5] (53rd)"
38,GDP (nominal),2020 estimate
39,• Total,$179.332 billion[5] (55th)
40,• Per capita,"$9,686[5] (69th)"
41,Gini (2017),27.5[6]low
42,HDI (2019),0.825[7]very high · 51st
43,Currency,Tenge (₸) (KZT)
44,Time zone,UTC+5 / +6 (West / East)
45,Date format,yyyy.dd.mm[b]
46,Driving side,right
47,Calling code,"+7-6xx, +7-7xx"
48,ISO 3166 code,KZ
49,Internet TLD,.kz.қаз