# Operations

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'col1':[1,2,3,4],
    'col2':[444,555,666,444],
    'col3':['abc','def','ghi','xyz']
})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

# Information about unique values

In [3]:
df["col2"].unique()

array([444, 555, 666], dtype=int64)

In [4]:
df.col2.nunique()

3

In [5]:
df.col2.value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

## Выбор данных

In [6]:
df.col1>2

0    False
1    False
2     True
3     True
Name: col1, dtype: bool

In [7]:
df.col2==444

0     True
1    False
2    False
3     True
Name: col2, dtype: bool

In [8]:
(df.col1>2) & (df.col2==444)

0    False
1    False
2    False
3     True
dtype: bool

In [9]:
df[(df.col1>2) & (df.col2==444)]

   col1  col2 col3
3     4   444  xyz

In [10]:
df[(df.col1>2) | (df.col2==444)]

   col1  col2 col3
0     1   444  abc
2     3   666  ghi
3     4   444  xyz

## Применяем различные функции к столбцам DF

In [18]:
def times2(x):
    return x*2

In [19]:
times2

In [20]:
times2(2)

4

In [21]:
df.apply(times2)

   col1  col2    col3
0     2   888  abcabc
1     4  1110  defdef
2     6  1332  ghighi
3     8   888  xyzxyz

# Применяем функцию times2

In [24]:
df.col1

0    1
1    2
2    3
3    4
Name: col1, dtype: int64

In [23]:
df.col1.apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [25]:
df.col3.apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [26]:
df.apply(len)

col1    4
col2    4
col3    4
dtype: int64

In [27]:
df.col1.sum()

10

# Удаление столбца

In [31]:
del df["col1"]

KeyError: 'col1'

In [32]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

# Индексы и столбцы

In [33]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [34]:
df.index

RangeIndex(start=0, stop=4, step=1)

# Sort of DataFrame

In [36]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [39]:
df.sort_values(by="col2", ascending=False)

   col2 col3
2   666  ghi
1   555  def
0   444  abc
3   444  xyz

# Skip values

In [40]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [41]:
df.dropna()

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

# Import Numpy

In [44]:
import numpy as np

In [46]:
df = pd.DataFrame({
    'col1':[1,2,3,np.nan],
    'col2':[np.nan,555,666,444],
    'col3':['abc','def','ghi','xyz']
})
df

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [47]:
df.fillna("Fillna")

     col1    col2 col3
0     1.0  Fillna  abc
1     2.0   555.0  def
2     3.0   666.0  ghi
3  Fillna   444.0  xyz

# Сводная таблица

In [49]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
        'B':['one','one','two','two','one','one'],
        'C':['x','y','x','y','x','y'],
        'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [51]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [52]:
df.pivot_table(values="D", index=["A", "B"],columns=["C"])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

In [53]:
df.pivot_table(values="D", index=["A"],columns=["B"])

B    one  two
A
bar  2.5  5.0
foo  2.0  2.0

In [ ]:
####