In [1]:
import pandas as pd

In [2]:
bookings=pd.read_csv(r"https://stepik.org/media/attachments/lesson/360344/bookings.csv", encoding='windows 1251', sep=';')

In [3]:
bookings.shape

(119390, 21)

In [4]:
def lower_underscore(name):
    name=name.lower().replace(' ', '_')
    return name
    # func for rename and replace values

In [5]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [6]:
lower_underscore('Lead Time')

'lead_time'

In [7]:
bookings=bookings.rename(columns=lower_underscore)

In [8]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

In [9]:
bookings.groupby('arrival_full_date').aggregate({'children': 'sum'})

                   children
arrival_full_date
2015-07-01              2.0
2015-07-02              4.0
2015-07-03              4.0
2015-07-04              8.0
2015-07-05             10.0
...                     ...
2017-08-27             45.0
2017-08-28             32.0
2017-08-29             21.0
2017-08-30             19.0
2017-08-31             19.0

[793 rows x 1 columns]

In [10]:
bookings.describe()
####bookings.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,3.427900,1.856403,0.103890,0.007949
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,2.557439,0.579261,0.398561,0.097436
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,2.000000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,4.000000,2.000000,0.000000,0.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,69.000000,55.000000,10.000000,10.000000

In [11]:
bookings.dtypes.value_counts()
#bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [12]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [13]:
bookings.is_canceled.value_counts()

0    75166
1    44224
Name: is_canceled, dtype: int64

In [14]:
bookings.query('is_canceled == 0') \
        .country \
        .value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [15]:
bookings.groupby('hotel') \
        .agg({'stays_total_nights': 'mean'}) \
        .round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [16]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

In [17]:
bookings[['reserved_room_type','assigned_room_type']]

       reserved_room_type assigned_room_type
0                       C                  C
1                       C                  C
2                       A                  C
3                       A                  A
4                       A                  A
...                   ...                ...
119385                  A                  A
119386                  E                  E
119387                  D                  D
119388                  A                  A
119389                  A                  A

[119390 rows x 2 columns]

In [18]:
bookings.query('reserved_room_type != assigned_room_type' )
#bookings.query('reserved_room_type != assigned_room_type' )

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

In [19]:
bookings.query('arrival_date_year == 2016')\
        .arrival_date_month\
        .value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [20]:
bookings.query('arrival_date_year == 2017')\
        .arrival_date_month\
        .value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [21]:
bookings.is_canceled

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: is_canceled, Length: 119390, dtype: int64

In [22]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

In [23]:
(
    bookings
            .query('hotel == "City Hotel" and is_canceled == 1')
            .groupby('arrival_date_year')
            .arrival_date_month
            .value_counts()

)

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [24]:
(
    bookings[['adults', 'children','babies']]
        .agg({'adults': 'mean','children': 'mean','babies': 'mean'})

)

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [25]:
(
    bookings[['adults', 'children','babies']].mean()

)

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [26]:
bookings['total_kids']=bookings.children + bookings.babies

In [27]:
(
bookings
        .groupby('hotel')
        .agg({'total_kids': 'mean'})
        .round(2)
        .max()
)

total_kids    0.14
dtype: float64

In [28]:
bookings.query('is_canceled == 1')

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-05-06,0.0
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,0.0,0,HB,PRT,D,D,Transient,Canceled,2015-04-22,0.0
10,Resort Hotel,1,23,2015-07-01,2015,July,27,1,0,4,...,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-06-23,0.0
27,Resort Hotel,1,60,2015-07-01,2015,July,27,1,2,5,...,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-05-11,0.0
32,Resort Hotel,1,96,2015-07-01,2015,July,27,1,2,8,...,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-05-29,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110280,City Hotel,1,132,2017-04-25,2017,April,17,25,0,0,...,0.0,0,BB,FRA,D,K,Transient,Canceled,2017-04-25,0.0
111355,City Hotel,1,4,2017-06-05,2017,June,23,5,1,0,...,0.0,0,BB,PRT,A,A,Transient,Canceled,2017-06-05,0.0
111924,City Hotel,1,7,2017-05-31,2017,May,22,31,0,1,...,0.0,0,BB,PRT,A,A,Transient,Canceled,2017-05-31,0.0
111925,City Hotel,1,6,2017-07-17,2017,July,29,17,1,0,...,0.0,0,BB,PRT,A,D,Transient,No-Show,2017-07-17,0.0
117295,City Hotel,1,0,2017-08-02,2017,August,31,2,0,2,...,0.0,0,BB,PRT,A,C,Transient,No-Show,2017-08-02,0.0

In [29]:
bookings['has_kids']=bookings.total_kids>0

In [30]:
no_kids_chorn=bookings.query('has_kids == False and is_canceled == 1').shape[0]/ \
              bookings.query('has_kids == False').shape[0]
no_kids_chorn=round(no_kids_chorn*100, 2)
no_kids_chorn

37.22

In [31]:
yes_kids_chorn=bookings.query('has_kids == True and is_canceled == 1').shape[0]/ \
              bookings.query('has_kids == True').shape[0]
yes_kids_chorn=round(yes_kids_chorn*100, 2)
yes_kids_chorn

34.92