In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame({"A":[1,2,np.nan],
                 "B":[5,np.nan,np.nan],
                 "C":[1,2,3]
})

In [3]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [4]:
df.dropna()# удаление по строкам

     A    B  C
0  1.0  5.0  1

In [5]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [6]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [7]:
df.dropna(thresh=1)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [8]:
df.dropna(axis=1, thresh=2)

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [9]:
df.fillna(value="FILL VALUE")

            A           B  C
0         1.0         5.0  1
1         2.0  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [12]:
df.A.mean()

1.5

In [15]:
# Заполнить все столбцы срнедним значением
df.fillna(value=df.A.mean())

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  1.5  1.5  3

In [20]:
# Заполнить столбeц срнедним значением
df.A.fillna(value=df.A.mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [18]:
df.A.fillna(value=df.A.mean(), inplace=True)

In [19]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  3