In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(42)

In [5]:
randn(1)

array([0.64768854])

In [6]:
# 0.496714
# -0.138264
# 0.647689

In [7]:
df=pd.DataFrame(randn(5,4),index="A B C D E". split(), columns="W X Y Z". split())
df

          W         X         Y         Z
A  1.523030 -0.234153 -0.234137  1.579213
B  0.767435 -0.469474  0.542560 -0.463418
C -0.465730  0.241962 -1.913280 -1.724918
D -0.562288 -1.012831  0.314247 -0.908024
E -1.412304  1.465649 -0.225776  0.067528

In [8]:
df["W"]

A    1.523030
B    0.767435
C   -0.465730
D   -0.562288
E   -1.412304
Name: W, dtype: float64

In [9]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df[["W","Z"]]

          W         Z
A  1.523030  1.579213
B  0.767435 -0.463418
C -0.465730 -1.724918
D -0.562288 -0.908024
E -1.412304  0.067528

In [13]:
type(df["W"])

pandas.core.series.Series

In [14]:
type(df[["W"]])

pandas.core.frame.DataFrame

In [15]:
# SQL SYNTAXIS
df.W

A    1.523030
B    0.767435
C   -0.465730
D   -0.562288
E   -1.412304
Name: W, dtype: float64

# Создание новых столбцов

In [21]:
df['new']=df['W']+df['Y']
df

          W         X         Y         Z       new  K
A  1.523030 -0.234153 -0.234137  1.579213  1.288893  0
B  0.767435 -0.469474  0.542560 -0.463418  1.309995  0
C -0.465730  0.241962 -1.913280 -1.724918 -2.379010  0
D -0.562288 -1.012831  0.314247 -0.908024 -0.248040  0
E -1.412304  1.465649 -0.225776  0.067528 -1.638080  0

In [20]:
df["K"]=0
df

          W         X         Y         Z       new  K
A  1.523030 -0.234153 -0.234137  1.579213  1.288893  0
B  0.767435 -0.469474  0.542560 -0.463418  1.309995  0
C -0.465730  0.241962 -1.913280 -1.724918 -2.379010  0
D -0.562288 -1.012831  0.314247 -0.908024 -0.248040  0
E -1.412304  1.465649 -0.225776  0.067528 -1.638080  0

# Удаление столбцов

In [22]:
df.drop('K', axis=1)

          W         X         Y         Z       new
A  1.523030 -0.234153 -0.234137  1.579213  1.288893
B  0.767435 -0.469474  0.542560 -0.463418  1.309995
C -0.465730  0.241962 -1.913280 -1.724918 -2.379010
D -0.562288 -1.012831  0.314247 -0.908024 -0.248040
E -1.412304  1.465649 -0.225776  0.067528 -1.638080

In [23]:
df

          W         X         Y         Z       new  K
A  1.523030 -0.234153 -0.234137  1.579213  1.288893  0
B  0.767435 -0.469474  0.542560 -0.463418  1.309995  0
C -0.465730  0.241962 -1.913280 -1.724918 -2.379010  0
D -0.562288 -1.012831  0.314247 -0.908024 -0.248040  0
E -1.412304  1.465649 -0.225776  0.067528 -1.638080  0

In [24]:
df.drop('K', axis=1, inplace=True)

In [25]:
df

          W         X         Y         Z       new
A  1.523030 -0.234153 -0.234137  1.579213  1.288893
B  0.767435 -0.469474  0.542560 -0.463418  1.309995
C -0.465730  0.241962 -1.913280 -1.724918 -2.379010
D -0.562288 -1.012831  0.314247 -0.908024 -0.248040
E -1.412304  1.465649 -0.225776  0.067528 -1.638080

In [26]:
df.drop("E")

          W         X         Y         Z       new
A  1.523030 -0.234153 -0.234137  1.579213  1.288893
B  0.767435 -0.469474  0.542560 -0.463418  1.309995
C -0.465730  0.241962 -1.913280 -1.724918 -2.379010
D -0.562288 -1.012831  0.314247 -0.908024 -0.248040

In [27]:
df.drop("E", axis=0)

          W         X         Y         Z       new
A  1.523030 -0.234153 -0.234137  1.579213  1.288893
B  0.767435 -0.469474  0.542560 -0.463418  1.309995
C -0.465730  0.241962 -1.913280 -1.724918 -2.379010
D -0.562288 -1.012831  0.314247 -0.908024 -0.248040

# Работа со строками

In [28]:
df.loc["A"]

W      1.523030
X     -0.234153
Y     -0.234137
Z      1.579213
new    1.288893
Name: A, dtype: float64

In [29]:
type(df.loc["A"])

pandas.core.series.Series

In [30]:
df.iloc[0]

W      1.523030
X     -0.234153
Y     -0.234137
Z      1.579213
new    1.288893
Name: A, dtype: float64

In [ ]:
# loc выбор строки по имени, iloc выбор строки по индексу

In [31]:
df.iloc[2]

W     -0.465730
X      0.241962
Y     -1.913280
Z     -1.724918
new   -2.379010
Name: C, dtype: float64

# Выбор разных строк и столбцов

In [33]:
df.loc['B', 'Y']

0.5425600435859647

In [34]:
df.loc[["A", "B"],["W",'Y']]# по работать с неск-ими строками и столбцами

          W         Y
A  1.523030 -0.234137
B  0.767435  0.542560

# Условный выбор

In [37]:
df

          W         X         Y         Z       new
A  1.523030 -0.234153 -0.234137  1.579213  1.288893
B  0.767435 -0.469474  0.542560 -0.463418  1.309995
C -0.465730  0.241962 -1.913280 -1.724918 -2.379010
D -0.562288 -1.012831  0.314247 -0.908024 -0.248040
E -1.412304  1.465649 -0.225776  0.067528 -1.638080

In [39]:
df.drop("new", axis=1, inplace=True)
df

          W         X         Y         Z
A  1.523030 -0.234153 -0.234137  1.579213
B  0.767435 -0.469474  0.542560 -0.463418
C -0.465730  0.241962 -1.913280 -1.724918
D -0.562288 -1.012831  0.314247 -0.908024
E -1.412304  1.465649 -0.225776  0.067528

In [40]:
df>0

       W      X      Y      Z
A   True  False  False   True
B   True  False   True  False
C  False   True  False  False
D  False  False   True  False
E  False   True  False   True

In [41]:
df[df>0]

          W         X         Y         Z
A  1.523030       NaN       NaN  1.579213
B  0.767435       NaN  0.542560       NaN
C       NaN  0.241962       NaN       NaN
D       NaN       NaN  0.314247       NaN
E       NaN  1.465649       NaN  0.067528

In [47]:
x=df["W"]>0
x

A     True
B     True
C    False
D    False
E    False
Name: W, dtype: bool

In [45]:
df[df["W"]>0]

          W         X         Y         Z
A  1.523030 -0.234153 -0.234137  1.579213
B  0.767435 -0.469474  0.542560 -0.463418

In [52]:
df[x]

          W         X         Y         Z
A  1.523030 -0.234153 -0.234137  1.579213
B  0.767435 -0.469474  0.542560 -0.463418

In [49]:
df[df["W"]>0]["Y"]

A   -0.234137
B    0.542560
Name: Y, dtype: float64

In [50]:
df[df["W"]>0][["Y", "X"]]

          Y         X
A -0.234137 -0.234153
B  0.542560 -0.469474

# Фильтрация по нескольким критериям

In [55]:
df

          W         X         Y         Z
A  1.523030 -0.234153 -0.234137  1.579213
B  0.767435 -0.469474  0.542560 -0.463418
C -0.465730  0.241962 -1.913280 -1.724918
D -0.562288 -1.012831  0.314247 -0.908024
E -1.412304  1.465649 -0.225776  0.067528

In [53]:
df["W"]>0

A     True
B     True
C    False
D    False
E    False
Name: W, dtype: bool

In [54]:
df["Y"]>1

A    False
B    False
C    False
D    False
E    False
Name: Y, dtype: bool

# & and |

In [57]:
(df["W"]>0)&(df["Y"]>1)

A    False
B    False
C    False
D    False
E    False
dtype: bool

In [59]:
df[(df["W"]>0)&(df["Y"]>1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [60]:
(df["W"]>0)|(df["Y"]>1)

A     True
B     True
C    False
D    False
E    False
dtype: bool

In [61]:
df[(df["W"]>0)|(df["Y"]>1)]

          W         X         Y         Z
A  1.523030 -0.234153 -0.234137  1.579213
B  0.767435 -0.469474  0.542560 -0.463418

# Другие примеры индексации

In [62]:
df

          W         X         Y         Z
A  1.523030 -0.234153 -0.234137  1.579213
B  0.767435 -0.469474  0.542560 -0.463418
C -0.465730  0.241962 -1.913280 -1.724918
D -0.562288 -1.012831  0.314247 -0.908024
E -1.412304  1.465649 -0.225776  0.067528

In [63]:
df.reset_index()

  index         W         X         Y         Z
0     A  1.523030 -0.234153 -0.234137  1.579213
1     B  0.767435 -0.469474  0.542560 -0.463418
2     C -0.465730  0.241962 -1.913280 -1.724918
3     D -0.562288 -1.012831  0.314247 -0.908024
4     E -1.412304  1.465649 -0.225776  0.067528

In [65]:
newind="ALA AST SHY ATY KOS".split()
newind

['ALA', 'AST', 'SHY', 'ATY', 'KOS']

In [66]:
df["City"]=newind

In [67]:
df

          W         X         Y         Z City
A  1.523030 -0.234153 -0.234137  1.579213  ALA
B  0.767435 -0.469474  0.542560 -0.463418  AST
C -0.465730  0.241962 -1.913280 -1.724918  SHY
D -0.562288 -1.012831  0.314247 -0.908024  ATY
E -1.412304  1.465649 -0.225776  0.067528  KOS

In [68]:
df.set_index("City")

             W         X         Y         Z
City
ALA   1.523030 -0.234153 -0.234137  1.579213
AST   0.767435 -0.469474  0.542560 -0.463418
SHY  -0.465730  0.241962 -1.913280 -1.724918
ATY  -0.562288 -1.012831  0.314247 -0.908024
KOS  -1.412304  1.465649 -0.225776  0.067528

In [69]:
df.reset_index()

  index         W         X         Y         Z City
0     A  1.523030 -0.234153 -0.234137  1.579213  ALA
1     B  0.767435 -0.469474  0.542560 -0.463418  AST
2     C -0.465730  0.241962 -1.913280 -1.724918  SHY
3     D -0.562288 -1.012831  0.314247 -0.908024  ATY
4     E -1.412304  1.465649 -0.225776  0.067528  KOS

# Мульти индекс пример

In [70]:
outside=["G1","G1","G1","G2","G2","G2"]
inside=[1,2,3,1,2,3]

In [71]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [74]:
outside=["G1","G1","G1","G2","G2","G2"]
inside=[1,2,3,1,2,3]

hier_index=list(zip(outside, inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [75]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [77]:
df=pd.DataFrame(np.random.randn(6,2), index=hier_index, columns="A B".split())
df

             A         B
G1 1 -1.220844  0.208864
   2 -1.959670 -1.328186
   3  0.196861  0.738467
G2 1  0.171368 -0.115648
   2 -0.301104 -1.478522
   3 -0.719844 -0.460639

In [78]:
df.loc["G1"]

          A         B
1 -1.220844  0.208864
2 -1.959670 -1.328186
3  0.196861  0.738467

In [79]:
df.loc["G1"].loc[1]

A   -1.220844
B    0.208864
Name: 1, dtype: float64

In [81]:
df.index.names

FrozenList([None, None])

In [82]:
df.index.names=["Group", "Num"]

In [83]:
df

                  A         B
Group Num
G1    1   -1.220844  0.208864
      2   -1.959670 -1.328186
      3    0.196861  0.738467
G2    1    0.171368 -0.115648
      2   -0.301104 -1.478522
      3   -0.719844 -0.460639

In [84]:
df.xs("G1")

            A         B
Num
1   -1.220844  0.208864
2   -1.959670 -1.328186
3    0.196861  0.738467

In [85]:
df.xs(["G1",1])

C:\Users\bakhtiyar kolzhabai\AppData\Local\Temp\ipykernel_21164\4181962490.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df.xs(["G1",1])

A   -1.220844
B    0.208864
Name: (G1, 1), dtype: float64

In [86]:
df.xs(1,level="Num")

              A         B
Group
G1    -1.220844  0.208864
G2     0.171368 -0.115648

In [87]:
df

                  A         B
Group Num
G1    1   -1.220844  0.208864
      2   -1.959670 -1.328186
      3    0.196861  0.738467
G2    1    0.171368 -0.115648
      2   -0.301104 -1.478522
      3   -0.719844 -0.460639