In [2]:
import pandas as pd
from datetime import datetime

In [3]:
df=pd.read_csv('C:/Users/bakhtiyar kolzhabai/Desktop/Jupiter_hub/lesson_1_data.csv', encoding="windows-1251", sep=";")

In [4]:
df.shape

(292, 8)

In [5]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [6]:
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [7]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [8]:
df.rename(columns={'Номер': 'number', 
          'Дата создания': 'create_date', 
          'Дата оплаты': 'payment_date', 
          'Title': 'title', 
          'Статус': 'status',
          'Заработано': 'money', 
          'Город': 'city', 
          'Платежная система': 'payment_system'}, inplace = True)

In [9]:
#df_renamed = pd.DataFrame(df)

In [10]:
df.columns

Index(['number', 'create_date', 'payment_date', 'title', 'status', 'money',
       'city', 'payment_system'],
      dtype='object')

In [11]:
df[["number", "status"]].head()

    number    status
0  1062823  Завершен
1  1062855  Завершен
2  1062856   Отменен
3  1062880   Отменен
4  1062899   Отменен

In [12]:
df

,number,create_date,payment_date,title,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [13]:
all_money=df.money.sum()
print(all_money)

992103.5900000001

In [14]:
df.groupby('title').aggregate({'money': 'sum'})

                                                        money
title
Курс обучения «Консультант»                         208163.49
Курс обучения «Специалист»                          160862.64
Курс обучения «Эксперт»                             148992.80
Курс от Школы Диетологов. Бизнес                     18752.54
Курс от Школы Диетологов. Повышение квалификации.    88384.92
Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосп...  366947.20

In [15]:
old=df\
    .query("status == 'Завершен'") \
    .groupby('title', as_index=False) \
    .aggregate({'money': 'sum'}) \
    .sort_values('money') #min to max

In [16]:
old.money.sum()

992103.5900000001

In [17]:
money_by_city= df \
        .query("status == 'Завершен'") \
        .groupby(['title','city'], as_index=False) \
        .aggregate({'money': 'sum', 'number': 'count'}) \
        .sort_values('money', ascending=False) \
        .rename(columns={'number': 'success_orders'})

In [18]:
money_by_city

,title,city,money,success_orders
32,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00,2
107,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04,16
29,Курс обучения «Эксперт»,Балхаш,42750.00,1
58,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78,13
23,Курс обучения «Специалист»,Красноярский край,29695.70,1
...,...,...,...,...
45,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Алматы,2914.30,1
9,Курс обучения «Консультант»,Москва,2.00,2
15,Курс обучения «Консультант»,София,1.00,1
21,Курс обучения «Консультант»,москва,1.00,1
8,Курс обучения «Консультант»,Люберцы,1.00,1

In [19]:
money_by_city.money.sum()

969329.8700000002

In [20]:
money_by_city.to_csv('money_by_city.to_csv', index=False)

In [21]:
today_day=datetime.today().strftime('%Y-%m-%d')

In [22]:
file_name='money_by_city_{}.csv'

In [23]:
file_name.format(today_day)

'money_by_city_2022-09-14.csv'

In [26]:
taxi.query("borough" == 'Manhattan')

NameError: name 'taxi' is not defined