In [2]:
import pandas as pd

In [3]:
path=pd.read_csv("https://stepik.org/media/attachments/course/4852/column_hell.csv", encoding="windows-1251")
path

,yrh&6,ohku,q,hfxx,umeca-4,apj,g,ijvnixxo,kudbpyw-3,upubjv,...,fi,clsruyy,g&6,qo$6,ap,o,sladymzr,tif,wuikzxt,wzuvc
0,0.288397,0.911359,0.488069,0.074599,0.016124,0.090555,0.560810,0.110975,0.430787,0.548763,...,0.793122,0.070335,0.145115,0.686579,0.071681,0.563068,0.815201,0.081902,0.333237,0.185148
1,0.861276,0.134987,0.701885,0.897921,0.507115,0.740151,0.963179,0.712024,0.671662,0.497596,...,0.477181,0.767931,0.996055,0.948774,0.054327,0.087341,0.072166,0.856081,0.120481,0.622113
2,0.775577,0.832874,0.862665,0.831049,0.003274,0.703112,0.509795,0.573296,0.286411,0.282792,...,0.421542,0.770413,0.749468,0.395022,0.307752,0.535575,0.341393,0.971201,0.714558,0.702453
3,0.857910,0.555818,0.598305,0.473988,0.784139,0.427963,0.725103,0.286610,0.863717,0.545562,...,0.240252,0.010355,0.759912,0.965837,0.110719,0.439488,0.816526,0.111621,0.373365,0.461615
4,0.748652,0.451725,0.252619,0.584361,0.011265,0.051115,0.755444,0.627191,0.206172,0.955043,...,0.846165,0.043458,0.209347,0.028276,0.700446,0.203503,0.181903,0.428842,0.099398,0.175227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.665300,0.744322,0.377087,0.809735,0.220817,0.248306,0.131914,0.217087,0.434444,0.852261,...,0.469934,0.940416,0.012272,0.519183,0.231462,0.778445,0.979528,0.742654,0.070859,0.595118
96,0.344394,0.182979,0.590196,0.483025,0.474131,0.031048,0.672095,0.573249,0.176011,0.847096,...,0.954133,0.073519,0.708749,0.942929,0.050652,0.902627,0.478454,0.895962,0.254965,0.963576
97,0.694568,0.507591,0.328004,0.333993,0.091637,0.356788,0.541017,0.040395,0.871606,0.680075,...,0.300616,0.172525,0.984465,0.645257,0.184107,0.322045,0.011599,0.197995,0.841725,0.695915
98,0.692840,0.220333,0.729843,0.202430,0.360106,0.980271,0.913669,0.549889,0.172385,0.049770,...,0.188240,0.053409,0.928515,0.135282,0.352835,0.046042,0.667842,0.633934,0.547764,0.232205
99,0.391447,0.989147,0.011527,0.894302,0.669284,0.158220,0.283287,0.103011,0.701505,0.281754,...,0.001720,0.414375,0.705461,0.616289,0.507954,0.736359,0.558528,0.001038,0.496094,0.172591

In [4]:
path.filter(like="-")

     umeca-4  kudbpyw-3       g-3       v-9     fla-6  hwtbyrkp-5
0   0.016124   0.430787  0.202407  0.725508  0.305076    0.979296
1   0.507115   0.671662  0.864249  0.867818  0.358859    0.160520
2   0.003274   0.286411  0.928865  0.719159  0.340235    0.734612
3   0.784139   0.863717  0.175446  0.554744  0.049325    0.621132
4   0.011265   0.206172  0.044151  0.163643  0.048806    0.437836
..       ...        ...       ...       ...       ...         ...
95  0.220817   0.434444  0.601738  0.146333  0.918888    0.216499
96  0.474131   0.176011  0.359793  0.104707  0.257690    0.066934
97  0.091637   0.871606  0.121075  0.907699  0.313184    0.788592
98  0.360106   0.172385  0.015285  0.019571  0.060751    0.403166
99  0.669284   0.701505  0.481430  0.024944  0.644989    0.702003

[100 rows x 6 columns]

In [5]:
path.shape

(100, 75)

#TASK 2

In [7]:
test_1=pd.read_csv("https://stepik.org/media/attachments/course/4852/dota_hero_stats.csv", encoding="windows-1251")
test_1

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"
...,...,...,...,...,...,...,...,...
112,112,Melee,114,2,Monkey King,npc_dota_hero_monkey_king,agi,"['Carry', 'Escape', 'Disabler', 'Initiator']"
113,113,Ranged,119,2,Dark Willow,npc_dota_hero_dark_willow,int,"['Support', 'Nuker', 'Disabler', 'Escape']"
114,114,Melee,120,2,Pangolier,npc_dota_hero_pangolier,agi,"['Carry', 'Nuker', 'Disabler', 'Durable', 'Esc..."
115,115,Ranged,121,2,Grimstroke,npc_dota_hero_grimstroke,int,"['Support', 'Nuker', 'Disabler', 'Escape']"
116,116,Melee,129,2,Mars,npc_dota_hero_mars,str,"['Carry', 'Initiator', 'Disabler', 'Durable']"

In [23]:
test_1.groupby("legs").count()

      Unnamed: 0  attack_type  id  localized_name  name  primary_attr  roles
legs
0             11           11  11              11    11            11     11
2             95           95  95              95    95            95     95
4              7            7   7               7     7             7      7
6              3            3   3               3     3             3      3
8              1            1   1               1     1             1      1

#TASK 3

In [28]:
test_2=pd.read_csv("https://stepik.org/media/attachments/course/4852/accountancy.csv", encoding="windows-1251")
test_2.head()

   Unnamed: 0 Executor Type  Salary
0           0     Pupa    D      63
1           1     Pupa    A     158
2           2     Pupa    D     194
3           3     Pupa    E     109
4           4    Loopa    E     184

In [39]:
mean_salary=test_2.groupby(["Type", "Executor"])\
                .aggregate({"Salary": "mean"})
mean_salary

                   Salary
Type Executor
A    Loopa      58.000000
     Pupa      160.833333
B    Loopa     145.166667
     Pupa       77.000000
C    Loopa     154.333333
     Pupa       74.500000
D    Loopa     137.714286
     Pupa      146.500000
E    Loopa     164.000000
     Pupa      131.200000
F    Loopa     238.000000
     Pupa      136.250000

#TASK 4

In [42]:
test_1

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"
...,...,...,...,...,...,...,...,...
112,112,Melee,114,2,Monkey King,npc_dota_hero_monkey_king,agi,"['Carry', 'Escape', 'Disabler', 'Initiator']"
113,113,Ranged,119,2,Dark Willow,npc_dota_hero_dark_willow,int,"['Support', 'Nuker', 'Disabler', 'Escape']"
114,114,Melee,120,2,Pangolier,npc_dota_hero_pangolier,agi,"['Carry', 'Nuker', 'Disabler', 'Durable', 'Esc..."
115,115,Ranged,121,2,Grimstroke,npc_dota_hero_grimstroke,int,"['Support', 'Nuker', 'Disabler', 'Escape']"
116,116,Melee,129,2,Mars,npc_dota_hero_mars,str,"['Carry', 'Initiator', 'Disabler', 'Durable']"

In [44]:
test_1.groupby(["attack_type", "primary_attr"]).nunique()

                          Unnamed: 0  id  legs  localized_name  name  roles
attack_type primary_attr
Melee       agi                   19  19     4              19    19     19
            int                    2   2     1               2     2      2
            str                   35  35     4              35    35     31
Ranged      agi                   18  18     3              18    18     16
            int                   40  40     4              40    40     33
            str                    3   3     2               3     3      3

In [45]:
test_3=pd.read_csv("http://stepik.org/media/attachments/course/4852/algae.csv",encoding="windows-1251")
test_3

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804
9,Ascophyllum_nodosum,Ascophyllum,brown,6.825467,0.875429,5.253527,3.414961,2.432526

In [66]:
mean_concentrations=test_3.groupby(["genus"], as_index=False).mean()
mean_concentrations

         genus   sucrose    alanin   citrate   glucose  oleic_acid
0  Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
1   Cladophora  4.008792  3.997055  5.288311  2.800276    2.263472
2        Fucus  4.355112  3.566411  4.214878  2.814803    3.367647
3     Palmaria  0.704580  3.176440  5.573905  3.242090    2.245538
4   Saccharina  4.183596  3.524207  3.346710  4.980594    4.487252

In [94]:
# MIN MAX MEAN
test_3.query("genus=='Fucus'").alanin.describe().round(2)

count    3.00
mean     3.57
std      3.15
min      0.35
25%      2.03
50%      3.71
75%      5.18
max      6.64
Name: alanin, dtype: float64

#Task 4

In [95]:
test_4=pd.read_csv("http://stepik.org/media/attachments/course/4852/algae.csv", encoding="windows-1251")
test_4

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804
9,Ascophyllum_nodosum,Ascophyllum,brown,6.825467,0.875429,5.253527,3.414961,2.432526

In [108]:
test_4.query("species=='Saccharina_japonica'")\
    .groupby(["group"], as_index=False)\
    .aggregate({"Saccharina_japonica":["min", "max"]})

KeyError: "Column(s) ['Saccharina_japonica'] do not exist"